@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.button{
  color: white;
  position: absolute;
  opacity: 1;
  bottom: 10px;
  animation-name: jumpUp, opacityShow;
  animation-duration: 1.5s, 6s;
  animation-iteration-count: 3, 1;
  animation-delay: 3.5s, 0s;
  &:hover{
    cursor: pointer;
    color: orange;
  }
}

@keyframes jumpUp {
  0%{bottom:10px;}
  40%{bottom:10px;color: orange;}
  50%{bottom:30px;color: orange;}
  60%{bottom:10px;color: orange;}
  80%{bottom:30px;}
  90%{bottom:10px;}
  100%{bottom:10px;}
}

@keyframes opacityShow{
  0%{opacity: 0;}
  40%{opacity: 0;}
  100%{opacity: 1;}
}

//js add hightlighter

.hlighter{
  span{
    background:orange;
    color: white;
  }
}

.title{
  text-align: center;
  display: flex;
  justify-content: center;
  h2{
    text-transform: capitalize;
    font-size: 2rem;
    @include screen('medium'){
      font-size: 2rem;
    }
    margin-bottom: 50px;
  }
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform;
}

@keyframes scroll {
  0%, 20% {
  transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
    }
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}
