@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.button{
  color: white;
  position: absolute;
  opacity: 1;
  bottom: 10px;
  animation-name: jumpUp, opacityShow;
  animation-duration: 1.5s, 6s;
  animation-iteration-count: 3, 1;
  animation-delay: 3.5s, 0s;
  &:hover{
    cursor: pointer;
    color: orange;
  }
}

@keyframes jumpUp {
  0%{bottom:10px;}
  40%{bottom:10px;color: orange;}
  50%{bottom:30px;color: orange;}
  60%{bottom:10px;color: orange;}
  80%{bottom:30px;}
  90%{bottom:10px;}
  100%{bottom:10px;}
}

@keyframes opacityShow{
  0%{opacity: 0;}
  40%{opacity: 0;}
  100%{opacity: 1;}
}

//js add hightlighter

.hlighter{
  span{
    background:orange;
    color: white;
  }
}

.icons{
  margin-top: 1rem;
  
  a{
    padding: 0.4rem;
    &:hover{
      color: $secondary-color;
      @include easeOut;
    }
  }
}