.hero-section{
  height: 100vh; 
  width: 100vw; 
  text-align: center;
  margin-bottom: 50px;
}

.column-flex{
  flex-flow: column;
}

.project-wrapper{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  padding: 20px;
  div{
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.12);
    width: 100%;
    height: 400px;
    background: white;
    @include screen('medium'){
      width: 45%;
      height: 400px;
      background: white;
    }
    @include screen('large'){
      width: 40%;
      height: 400px;
      background: white;
    }
    margin-bottom: 50px;
    opacity:1;
    transition: 0.4s;
    color: black;
    position: relative;
    padding: 40px;
    i{
      margin-left: 5px;
    }
    p{
      font-size: 1.2rem;
      margin-top: 20px;
    }
    a{
      color: black;
      text-decoration: none;
    }
    .see-more{
      font-size: 1.2rem;
      font-weight: bold;
      position: absolute; 
      bottom: 40px;
      display: flex;
      align-items: center;
    }
    h2{
      font-size: 2.5rem;
      z-index: 100;
      transition: 0.4s;
      &:after{
        content: "";
        background-color: orange;
        width: 50px;
        height: 5px;
        position: absolute;
        left: 41px;
        top: 5.8rem;
        transition: width, 5s;
        transition: background-color, .2s;
      }
    }
    &:hover{
      transform: scale(1.05);
      .see-more{
        color: white;
      }
      h2{
        &:after{
          background-color: white;
        }
      }
      transition: background, .1s;
	    transition: box-shadow, .3s;
      z-index: 2;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      cursor: pointer;
      background: orange;
      box-shadow: rgba(44, 44, 44, .5) 0px 5px 7px
    }
  }
}

// background on hero section

.intro-hero{
  @include screen('medium'){
    // background: black;
    background-size: cover;
    background-position: top -20px;
    background-attachment: fixed;
  }
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/nosa.jpg');
  background-size: cover;
  background-position-x: -300px;
  background-attachment: fixed;
  color: white;
  i :not(.button){
    bottom: 20px;
    &:hover{
      color:orange;
    }
  }
}

.quote-area{
    touch-action: pan-right pinch-zoom;
    padding: 20px;
    h1{
      font-size: 5rem;
      
    }
  @include screen('medium'){
    max-width: 600px;
    padding: 20px;
  }
  @include screen('large'){
    max-width: 800px;
    padding: 20px;
  }
}

.black-background{
  background-color: #222;
}

.left-box{
  height: 500px;
}

.hideSmall{
  display: none !important;
  @include screen('medium'){
    display: inline;
  }
  @include screen('large'){
    display: inline;
  }
}

//contact form

.contact-wrapper{
  background-color: #222;
  position: relative;
  height: 100vh;
  padding: 5% 10%;
}

.contact-me{
  color: white;
}

.instanews{
  img{
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.titleSmall{
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  @include screen('medium'){
    display: none;
  }
}
