.typewriter{
	display: inline-block;
  @include screen('medium'){
		h1:first-child {
			overflow: hidden; 
			border-right: .5rem solid orange;
			white-space: nowrap;
			animation: 
				typing 3.5s steps(40, end),
				blink-caret .75s step-end infinite;
		}
	}
}
/* The typing effect */
@keyframes typing {
	0%,30% { width: 0% }
	50% { width: 100% }
	100% {width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}